@if (TempData["success"] != null)
{
    <h4>@TempData["success"]</h4>
}
@* We don'  have that code right now but just if you want to added 
@if (TempData["error"] != null)
{
    <h4>@TempData["error"]</h4>
} *@